amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.6.0
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.7
certifi==2017.4.17
chardet==3.0.4
cycler==0.10.0
freeze==1.0.10
functools32==3.2.3.post2
greenlet==0.4.12
idna==2.5
jieba==0.38
kombu==3.0.37
matplotlib==2.0.2
nltk==3.2.4
numpy==1.13.0
olefile==0.44
pandas==0.20.2
Pillow==4.1.1
pyasn1==0.2.3
pycrypto==2.6
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.5
requests==2.18.1
rsa==4.7
six==1.10.0
urllib3==1.21.1
virtualenv==15.1.0
xmltodict==0.11.0
